<!--自定义打赏-->
<div id="reward">
    <div>您的喜欢是作者写作最大的动力！❤️</div>
    <div class="reward">
        <a href="https://github.com/Kaiyuan/donate-page" target="_blank" class=" tr3" title="Github"><span
                    id="github"></span></a>
        <ul id="RewardBox" class="list pos-f tr3">
            <!--<li id="PayPal" title="PayPal打赏"><a href="https://paypal.me/xuxu" target="_blank">PayPal</a></li>-->
            <li id="AliPayOR" title="支付宝打赏">AliPay</li>
            <li id="WeChatPayOR" title="微信打赏">WeChatPay</li>
            <li id="QQPayOR" title="QQ打赏">QQPay</li>
        </ul>
        <div id="RewardText" class="tr3">Donate</div>
        <div id="QRBox" class="pos-f left-100">
            <div id="MainBox"></div>
        </div>
    </div>
</div>
<script>
    jQuery(document).ready(function () {
        var QRBox = $('#QRBox');
        var MainBox = $('#MainBox');
        var AliPayOR = 'https://cdn.jsdelivr.net/gh/xzMhehe/StaticFile_CDN@main/static/img/WeChatQR.png';
        var WeChatPayOR = 'https://cdn.jsdelivr.net/gh/xzMhehe/StaticFile_CDN@main/static/img/WeChatQR.png';
        var QQPayOR = 'https://cdn.jsdelivr.net/gh/xzMhehe/StaticFile_CDN@main/static/img/WeChatQR.png';

        function showQR(QR) {
            if (QR) {
                MainBox.css('background-image', 'url(' + QR + ')');
            }
            $('#RewardText,#RewardBox,#github').addClass('blurC');
            QRBox.fadeIn(300, function (argument) {
                MainBox.addClass('showQR');
            });
        }

        $('#RewardBox>li').click(function (event) {
            var thisID = $(this).attr('id');
            if (thisID === 'AliPayOR') {
                showQR(AliPayOR);
            } else if (thisID === 'WeChatPayOR') {
                showQR(WeChatPayOR);
            } else if (thisID === 'QQPayOR') {
                showQR(QQPayOR);
            }
        });

        MainBox.click(function (event) {
            MainBox.removeClass('showQR').addClass('hideQR');
            setTimeout(function (a) {
                QRBox.fadeOut(300, function (argument) {
                    MainBox.removeClass('hideQR');
                });
                $('#RewardText,#RewardBox,#github').removeClass('blurC');
            }, 600);

        });
    });
</script>
<style>
    /* 打赏样式 */
    #reward {
        text-align: center;
        width: 100%;
        margin-top: 40px;
        margin-bottom: -32px;
    }

    #reward .reward {
        margin-left: 20px;
        margin-top: 80px;
        margin-bottom: -100px;
        display: inline-block;
    }

    #RewardBox {
        position: relative;
        top: calc(50% - 15px);
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 6px;
        float: left;
        z-index: 1;
    }

    .reward ul {
        padding-left: 0;
        margin-left: 0;
    }

    /*#RewardBox #PayPal {*/
    /*background-image: url(https://cdn.jsdelivr.net/gh/XuxuGood/cdn@master/blogImages/reward/paypal.png);*/
    /*}*/

    #RewardBox #AliPayOR {
        background-image: url(https://cdn.jsdelivr.net/gh/xzMhehe/StaticFile_CDN@main/blogImages/reward/alipay.png);
    }

    #RewardBox #WeChatPayOR {
        background-image: url(https://cdn.jsdelivr.net/gh/xzMhehe/StaticFile_CDN@main/blogImages/reward/wechatpay.png);
    }

    #RewardBox #QQPayOR {
        background-image: url(https://cdn.jsdelivr.net/gh/xzMhehe/StaticFile_CDN@main/blogImages/reward/qqpay.png);
    }

    #RewardBox > li:first-child {
        border-width: 0;
    }

    #RewardText {
        position: relative;
        font-size: 12px;
        width: 70px;
        height: 70px;
        line-height: 40px;
        color: #fff;
        background: #ffd886 url(https://cdn.jsdelivr.net/gh/xzMhehe/StaticFile_CDN@main/blogImages/reward/like.png) no-repeat center 10px;
        background-size: 20px;
        border-radius: 35px;
        text-align: center;
        left: calc(50% - 120px);
        top: -80px;
        transform: rotatez(-15deg);
    }

    .tr3 {
        transition: all 0.3s;
    }

    #QRBox {
        position: relative;
        top: -100px;
        left: 0;
        z-index: 1;
        background-color: rgba(255, 255, 255, 0.3);
        display: none;
        perspective: 400px;
    }

    .left-100 {
        width: 100%;
        height: 100%;
    }

    #RewardBox li {
        margin-top: 0;
        margin-bottom: 0;
        width: 74px;
        float: left;
        text-align: center;
        border-left: 1px solid #ddd;
        background: no-repeat center center;
        background-color: rgba(204, 217, 220, 0.1);
        background-size: 50px;
        transition: all 0.3s;
        cursor: url(https://cdn.jsdelivr.net/gh/xzMhehe/StaticFile_CDN@main/blogImages/site-img/ayuda.cur), auto;
        overflow: hidden;
        line-height: 600px;
        height: 28px;
        -webkit-filter: grayscale(1);
        filter: grayscale(1);
        opacity: 0.5;
    }

    #RewardBox li:hover {
        background-color: rgba(204, 217, 220, 0.3);
        -webkit-filter: grayscale(0);
        filter: grayscale(0);
        opacity: 1;
    }

    #RewardBox a {
        display: block;
    }

    #github {
        position: relative;
        display: inline-block;
        z-index: 1;
        width: 24px;
        height: 24px;
        top: -2px;
        left: -14px;
        background: no-repeat center center url(https://cdn.jsdelivr.net/gh/xzMhehe/StaticFile_CDN@main/blogImages/reward/github.png);
        background-size: contain;
        opacity: 0.3;
        transform: rotatez(15deg);
    }

    #MainBox {
        cursor: url(https://cdn.jsdelivr.net/gh/xzMhehe/StaticFile_CDN@main/blogImages/site-img/ayuda.cur), auto;
        position: absolute;
        text-align: center;
        width: 200px;
        height: 200px;
        left: calc(50% - 100px);
        top: calc(50% - 100px);
        background: #fff no-repeat center center;
        background-size: 190px;
        border-radius: 6px;
        box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.3);
        opacity: 0;
        transition: all 1s ease-in-out;
        transform-style: preserve-3d;
        transform-origin: center center;
        overflow: hidden;
    }

    .reward .blurC {
        -webkit-filter: blur(3px);
        filter: blur(3px);
    }

    #MainBox.showQR {
        opacity: 1;
        animation-name: showQR;
        animation-duration: 3s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        -webkit-animation: showQR 3s ease-in-out 0s 1 normal forwards;
    }

    @keyframes showQR {
        from {
            transform: rotateX(90deg);
        }
        8% {
            opacity: 1;
            transform: rotateX(-60deg);
        }
        18% {
            opacity: 1;
            transform: rotateX(40deg);
        }
        34% {
            opacity: 1;
            transform: rotateX(-28deg);
        }
        44% {
            opacity: 1;
            transform: rotateX(18deg);
        }
        58% {
            opacity: 1;
            transform: rotateX(-12deg);
        }
        72% {
            opacity: 1;
            transform: rotateX(9deg);
        }
        88% {
            opacity: 1;
            transform: rotateX(-5deg);
        }
        96% {
            opacity: 1;
            transform: rotateX(2deg);
        }
        to {
            opacity: 1;
        }
    }

    #MainBox.hideQR {
        opacity: 1;
        animation-name: hideQR;
        animation-duration: 0.5s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        -webkit-animation: hideQR 0.5s ease-in-out 0s 1 normal forwards;
    }

    @keyframes hideQR {
        from {
        }
        20%, 50% {
            transform: scale(1.08, 1.08);
            opacity: 1;
        }
        to {
            opacity: 0;
            transform: rotateZ(40deg) scale(0.6, 0.6);
        }
    }

    .md #reward .reward ul li:before {
        content: none;
    }
</style>
