<% if (theme.comments.service == 'valine'){ %>
<div class="new-meta-item comments-count">
  <%
    var path = post.path || page.path;
    if (path.length > 9 && (path.substring(path.length - 10) == 'index.html')) {
      path = path.substring(0, path.length - 10);
    }
  %>
  <a href="javascript:void(0);" onclick="scrollToComments()">
    <i class="<%- theme.article.body.meta_library.valinecount.icon %> fa-fw"></i>
    <span class="valine-comment-count" data-xid="<%- url_for(path) %>">0</span>
    <span class="leancloud-comments-count">&nbsp;<%- theme.article.body.meta_library.valinecount.desc %></span>
  </a>
</div>
<% } %>

<!--解决评论统计跳转到评论区-->
<script>
   function scrollToComments(){
       // 校正页面定位（被导航栏挡住的区域）
       var scrollCorrection = 80; // (header height = 64px) + (gap = 16px)
       if (volantis.$header[0]) {
           scrollCorrection = volantis.$header[0].clientHeight + 16;
       }
       scrollToElement($('#l_body article#comments'),scrollCorrection);
    }
   // 校正页面定位（被导航栏挡住的区域）
   function scrollToElement(elem, scrollCorrection) {
       const $elem = elem.href ? $(elem.getAttribute('href')) : $(elem);
       $('html, body').animate({
           'scrollTop': $elem.offset().top - scrollCorrection
       }, 500);
   }
</script>
